*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 

}

body{

    background-image: linear-gradient(120deg, #f6d365, #fda085);
    color:white ; 
    font-family: Poppins;
    min-height: 100vh  ; 

}

header{
    font-size: 1.5rem ;
}

header , form{
    min-height:20vh ; 
    display:flex; 
    justify-content : center ; 
    
    align-items : center ; 
}

form input, form button {
    padding:0.45rem  ; 
    font-size: 2rem;
    border: none ; 
    background: white ; 
    border-radius:2px ; 
}

form input:focus, button:focus{
    outline:none ; 
}
form button {
    padding-top: .73rem;
}


form button{ 
    color : #d88771; 
    background: white ;
    cursor:pointer; 
    transition: all 0.3s ease ;
    border-radius: 2px ; 
    transform: translateX(-2px );

}

form button:hover{
    background: #d88771 ; 
    color:white ; 
}



.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}